/* flex helpers */

.flex {
  display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}