*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em;
    text-wrap: balance;
}

p {
    max-width: 65ch;
    margin: 0 0 1em; /* !? */
    text-wrap: pretty;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

ul, ol {
    padding: 0;
    list-style: none;
}

a[class] {
    text-decoration: none;
    color: inherit;
}

/* a:not([class]) {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
} */

input, button, textarea, select {
    max-width: 100%;
    font: inherit;
}

html {
    color-scheme: light dark;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        interpolate-size: allow-keywords;
    }
}
